*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
}

a{
    text-decoration: none;
    font-size: 18px;
}
li{
    list-style: none;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/*HELPER*/
.mgb-10{margin-bottom: 10px;}
.mgb-20{margin-bottom: 20px;}
.mgb-30{margin-bottom: 30px;}
.mgb-40{margin-bottom: 40px;}
.clearfix{
    content: '';
    display: table;
    clear: both;
}

/*****
    HEADER
        *****/
header{
    background: url('img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.container-center{
    max-width: 950px;
    margin: auto;
}

/***
    ROW-NAV
        ***/
.row{
    width: 100%;
    position: sticky;
    top:0;
}
.row .col-1{
    float: left;
    min-width: 20%;
    line-height: 80px;
}
.row .col-2{
    float: left;
    min-width: 60%;
    line-height: 80px;
}
.logo{
    width: 140px;
    height: 80px;
    float: left;
}
header ul{
    text-align: center;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding:10px;
    color: white;
    font-weight: 600;
}

.row .accedi{
    text-align: right;
}
.row .accedi a{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
}

.buttons{
    padding: 80px;
}

/***

    ***/
header .Header-Text{
    text-align:center;
    color: white;
    width: 80%;
    margin: 40px auto;
}
header .Header-Text p{
    padding:50px 0;
}

header .Header-Text div{
    padding: 30px;
    display: inline-block;
}
header .Header-Text div a{
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    color: black;
}

header .Header-Text div a.black{
    background-color: rgb(31, 31, 31);
    color: white;
}

/***
    MAIN
        ***/
main section{
    padding: 40px 0;
}

main section:nth-child(2n){
    background-color: #ccc;
}
/**Immagine a sinistra testo a destra**/
main .first-section .image{
    display: inline-block;  
    float: left;
    max-width: 60%;
    height: 100%;
    
}
main .first-section .image img{
    width: 100%;
}

main .first-section .image-text{
    display: inline-block;
    float: right;
    width: 35%;
}

main .image-text h1{
    padding-bottom: 20px;
}

/**Testo a sinistra immagine a destra**/

main .second-section .image{
    display: inline-block;  
    float: right;
    max-width: 60%;
    height: 100%;
}

main .first-section .image img{
    width: 100%;
}

main .second-section .image-text{
    display: inline-block;
    float: left;
    width: 35%;
}








