*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');

p{
    font-weight: 600;
}
h1{
    font-size: 50px;
}

a{
    text-decoration: none;
    font-size: 18px;
}
li{
    list-style: none;
}
html{
    font-family: 'Roboto', sans-serif;    
}
/*HELPER*/
.mgb-10{margin-bottom: 10px;}
.mgb-20{margin-bottom: 20px;}
.mgb-30{margin-bottom: 30px;}
.mgb-40{margin-bottom: 40px;}
.clearfix{
    content: '';
    display: table;
    clear: both;
}

/*****
    HEADER
        *****/
header{
    background: url('img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.container-center{
    max-width: 950px;
    margin: auto;
}

/***
    ROW-NAV
        ***/
header .row{
    width: 100%;
}
header .row .col-1{
    float: left;
    min-width: 20%;
    line-height: 80px;
}
header .row .col-2{
    float: left;
    min-width: 60%;
    line-height: 80px;
}
header .logo{
    width: 140px;
    height: 80px;
    float: left;
}
header ul{
    text-align: center;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding:10px;
    color: white;
    font-weight: 600;
}

.row .accedi{
    text-align: right;
}
.row .accedi a{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
}

.buttons{
    padding: 80px;
}

/***

    ***/
header .Header-Text{
    text-align:center;
    color: white;
    width: 80%;
    margin: 40px auto;
}
header .Header-Text p{
    padding:50px 0;
}

header .Header-Text div{
    padding: 30px;
    display: inline-block;
}
header .Header-Text div a{
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    color: black;
}

header .Header-Text div a.black{
    background-color: rgb(31, 31, 31);
    color: white;
}

/***
    MAIN
        ***/
main section{
    padding: 40px 0;
}

main section:nth-child(2n){
    background-color: #F6F6F6;
}
/**Immagine a sinistra testo a destra**/
main .first-section .image{
    display: inline-block;  
    float: left;
    max-width: 60%;
    height: 100%;
    
}
main .first-section .image img{
    width: 100%;
}

main .first-section .image-text{
    display: inline-block;
    float: right;
    width: 35%;
}

main .image-text h1{
    padding-bottom: 20px;
}

/**Testo a sinistra immagine a destra**/

main .second-section .image{
    display: inline-block;  
    float: right;
    max-width: 60%;
    height: 100%;
}

main .first-section .image img{
    width: 100%;
}

main .second-section .image-text{
    display: inline-block;
    float: left;
    width: 35%;
}

/**ULTIMA SECTION**/
main .last-section h1{
    font-size: 45px;
    text-align:center;
}

main .last-section p{
    text-align:center;
}

main .last-section img{
    width: 100%;
}

main .last-section h2{
    text-align:center;
    background: url(img/stars.svg);
    background-position: center;
    padding: 15px;
    
}

main .last-section div{
    text-align: center;
}
main .last-section a{
    text-align: center;
    display: inline-block;
    padding: 15px;
    background-color: #8EA1E1;
    color: white;
    border-radius: 30px;
}

/****
    FOOTER
        ****/

footer{
    background-color: #23272A;
}

footer .row{
    width: 100%;
    padding: 60px 0;
}    

footer .col-big{
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 2.5%;
}

footer .col-small{
    width: 15%;
    float:left;
    margin-right: 2.5%;
}

footer .col-small:nth-child(5){
    margin-right: 0;
}


footer .col-big .select-img img{
    width: 20px;
}

footer .col-big .select-img select{
    background-color: #23272A;
    color: white;
    border:none;
    display: inline-block;
}

footer h2{
    color: #7289DA;
    padding-bottom:20px;
}

footer a{
    color: white;
    padding: 10px;
}

footer h3{
    color: #7289DA;
}

footer ul li{
    padding: 8px 0;
    color: white;
}

/*Ultima riga del footer*/
footer .footer__foot{
    width: 100%;
    padding-bottom: 50px;
}

footer .footer__foot img{
    float:left;
}

footer .footer__foot a{
    float: right;
    background-color: #8EA1E1;
    color: white;
    padding: 10px;
    border-radius: 30px;
}


